{
  "parser": "babel-eslint",
  "extends": ["react", "plugin:jest/recommended", "plugin:cypress/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true,
    "cypress/globals": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules":{
    "indent": [0, "tab"],
    "no-tabs": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "allowSingleLine": true,
    "object-curly-spacing": [2, "always"],
    "react/jsx-curly-spacing": [2, {"when": "always", "spacing": {
    "objectLiterals": "always",
    "no-console": 2,
    "no-debugger": 2,
    "no-tralling-spaces": 0
    }}]
  },
  "plugins": ["jest", "cypress"]

}
