.footerStyle {
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 60px;
	background: linear-gradient(45deg, #577CE6 0%, #E1567C 100%);
	text-align: left;
	color: #E983A5;
	font-family: sans-serif;
	font-size: 16px;
	padding: 24px 0;
	z-index: 1000;
}

.footerP {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 12px;
}
